@import "variable";
@import "mixin";
@import "common";

section.navigation {
    padding: 15px 0;
}
.navbar {
    .row {
    margin: 0px;

.col-1 {
    width: 33.33%;
    align-items: center;
}
.col-1 {
    ul.row {
        li.col {
    padding: 0 15px;
}
    }
}
.col-2 {
    width: 33.33%;
}
.col-3 {
    width: 33.33%;
    align-items: center;
}
.col-3 {
    ul.row {
        li.col {
    padding: 0 15px;
}
    }
}

}
}
section.banner{
position: relative;
.banner-detail {
    position: absolute;
    bottom: 50%;
    width: 100%;
    left: 0;
    transform: translatey(50%);
}
.caption {
    max-width: 755px;
}
}


ul.content {
    display: grid;
    gap: 15px;
}
.item1{
    grid-row: 1;
    grid-column: 1;
    height: 286px;
    width: 100%;
    max-width: 360px;
    position: relative;
    .grid-detail {
        position: absolute;
        top: 77%;
        left: 15px;
    }
    p{
        color: #746274;
    }
    h5{
        color: #31282f;
    }
}
.item2{
    grid-column: 2;
    grid-row: 1 / 3;
    height: 592px;
    width: 358px;
    position: relative;
    .grid-detail {
        position: absolute;
        top: 89%;
        left: 15px;
    }
    p{
        color: #746274;
    }
    h5{
        color: #31282f;
    }
}
.item3{
    grid-row: 1;
    grid-column: 3 / 5;
    height: 286px;
    max-width: 740px;
    width: 100%;
    position: relative;
    .grid-detail {
        position: absolute;
        top: 79%;
        left: 15px;
    }
    p{
        color: #746274;
    }
    h5{
        color: #31282f;
    }
}
.item4{
    grid-column: 1;
    height: 286px;
    max-width: 360px;
    width: 100%;
    position: relative;
    .grid-detail {
        position: absolute;
        top: 79%;
        left: 15px;
    }
    p{
        color: #746274;
    }
    h5{
        color: #31282f;
    }
}
.item5{
    grid-column: 3;
    height: 286px;
    max-width: 360px;
    width: 100%;
    position: relative;
    .grid-detail {
        position: absolute;
        top: 78%;
        left: 15px;
    }
    p{
        color: #746274;
    }
    h5{
        color: #31282f;
    }
}
.item6{
    grid-column: 4;
    height: 286px;
    max-width: 360px;
    width: 100%;
    position: relative;
    .grid-detail {
        position: absolute;
        top: 78%;
        left: 15px;
    }
    p{
        color: #746274;
    }
    h5{
        color: #31282f;
    }
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.usp-banner {
    .row {
    width: 100%;
    margin: 0;
    border: 1px solid #C5c5c5;
}
}
.col.usp-main {
    margin: 10px 0;
    max-width: 20%;
    border-right: 1px solid #c5c5c5;
    
    a{
    padding: 0 15px;
    width: 100%;
    align-items: center;
    .usp-img {
        max-width: 40px;
        height: 40px;
        width: 100%;
    }
    .usp-detail {
        margin-left: 20px;
    }
}
    }
    .col.usp-main:last-child {
        border: none;
    }
    .jewelry-banner .row {
        margin: 0 -15px;
        .col{
            padding: 0 15px;
        }
    }
    .jewelry-detail {
        h4 {
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }
}
.jewelry-img {
   aspect-ratio: 1/1;
}
.shape-img img {
    width: 64px;
    height: 64px;
}
.shape-detail p {
    text-align: center;
}
.shape-banner .row {
    width: 100%;
    flex-wrap: wrap;
}